$border-line: 1px solid;
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
}
.nav-bar{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 10vw;
}
.content-all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-main{
    width: 90vw;
}
.content-head{
    border: $border-line red;
}
.content{
    /*background-color: rgb(19, 179, 179);*/
    display: flex;
    border: $border-line red;
}
.content1{

}
.content2{
                    
}
.title-content{
    background-color: rgb(255, 0, 255);
}            
.title1{
                
}
.title2{
                
}
